/* Amber
#fbb80f

Yellow
#fbee0f

Mauve
#c598af

Purple
#7f4aa4 */

.page {

  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 12vh;

  color: white;

}
@keyframes flyFromRight {
  from {transform: translateX(100vw);}
  to {transform: translateX(0);}
}
@keyframes flyFromLeft {
  from {transform: translateX(-100vw);}
  to {transform: translateX(0);}
}
.pageTitle {
  width: 360px;
 
  text-align: center;
  font-size: 3rem;

  border-bottom: solid #fbb80f 1px;
  padding-bottom: 10px;
  margin-bottom: 20px;

  animation: flyFromRight 1.5s ease;
}
.loginBox {
 
  background-color: rgb(60, 60, 60);
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 20px;

  filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.329));

  margin: auto;

  position: relative;
  
  z-index: 1;

  animation: flyFromLeft 1.5s ease;

  
  

}
.loginHeader {

}
.inputsContainer {

}
.inputSection {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
}

.input {
  border: none;
 

  border-radius: 20px;
  padding: 7px;
  color: white;

  margin-left: 8px;
  
  transition: all 0.5s ease-in-out;
  background-color: rgba(255, 255, 255, 0.299);
  
  font-family:'Courier New', Courier, monospace;
  
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.614);
}

.input[type=text]:focus {
  border: none;
  outline: solid #fbb80f 1px;
}

.icon {
  
}
.loginButton {
  background-color: #fbb80f;

  width: 200px;
  height: 50px;

  border: none;
  border-radius: 20px;

  transition: all 0.2s ease-in-out;

  cursor: pointer;

  font-family: "PT_Serif", "sans-serif";
}
.loginButton:hover {
  background-color: #de9f00;
}
.loginButton:active  {
  background-color: #c78f00;
  width: 190px;
  height: 45px;
}



.errorMessage {
  font-size: small;
  color: red;
  display: none;

  position: absolute;
  
 
  bottom: 10px;

  z-index: 10;
  
}
.errorMessage.show {
  display: unset;
 
}


