/* Amber
#fbb80f

Yellow
#fbee0f

Mauve
#c598af

Purple
#7f4aa4 */

.page {
  background-image: url("/images/dog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 25vh;
}
.loginBox {
  background-image: linear-gradient(#c598af98,rgba(255, 255, 255, 0.49), rgba(255, 255, 255, 0.49));
  /* background-image: linear-gradient(yellow,white, white); */
  width: 400px;
  height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 20px;

  filter: drop-shadow(0px 5px rgba(0, 0, 0, 0.329));

  margin: auto;

  

}
.loginHeader {

}
.inputsContainer {

}
.inputSection {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
}

.input {
  border: none;
  background-color: rgb(228, 228, 228) ;

  border-radius: 20px;
  padding: 7px;
  

  margin-left: 8px;
  
  transition: all 0.5s ease-in-out;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.input[type=text]:focus {
  border: none;
  outline: solid #fbb80f 1px;
}

.icon {
  
}
.loginButton {
  background-color: #fbb80f;
  width: 200px;
  height: 50px;

  border: none;
  border-radius: 20px;

  transition: all 0.1s ease-in-out;

  cursor: pointer;

  font-family: "DynaPuff", system-ui;
}
.loginButton:active {
  background-color: #ce970b;
}
